@charset "UTF-8";

*{ font-family:  Arial, Helvetica, sans-serif;

}

body 

{background-image:linear-gradient(to left,#b8b888,#ccb96b );
    
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #494846;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #494846;
    text-align: center;
    text-shadow:  1px 1px 2px #353432;
}
h2{
    color:#494846a4 ;
}
p{
    text-align: justify;
}
